<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SmallBeliefEntities" connectionString="metadata=res://*/SmallBelief.csdl|res://*/SmallBelief.ssdl|res://*/SmallBelief.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=121.40.189.36;initial catalog=SmallBelief_test;persist security info=True;user id=SB;password=2wsx@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>