<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- bootstrap css-->
    <link rel="stylesheet" href="~/content/boot/css/bootstrap.min.css">

    <!-- metisMenu css -->
    <link rel="stylesheet" href="~/content/css/metisMenu.min.css">

    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/content/css/font-awesome.min.css">

    <!-- main css -->
    <link rel="stylesheet" href="~/content/css/main.css">

    <!-- bootstrap file-input css -->
    <link href="~/content/bootstrap-fileinput/css/default.css" rel="stylesheet" />
    <link href="~/content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />


    <!-- jquery -->
    <script src="~/content/js/jquery-2.2.4.min.js"></script>

    <!-- Msg Process -->
    <script src="~/content/js/jquery.MsgProcess.js"></script>

    <!-- bootstrap js -->
    <script src="~/content/boot/js/bootstrap.min.js"></script>

    <!-- metisMenu js -->
    <script src="~/content/js/metisMenu.min.js"></script>

    <!-- main js -->
    <script src="~/content/js/main.js"></script>

    <!-- bootstrap file-input js -->
    <script src="~/content/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="~/content/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>

</head>
<body>

    <!--wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">浙理宅货管理系统</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/Settings/UserInfo"><i class="fa fa-user fa-fw"></i> 用户资料</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Home/Logout"><i class="fa fa-sign-out fa-fw"></i> 退出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <!-- 导航 -->
            @{Html.RenderAction("PartialMenu", "SOPartial");}

            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>

    </div>

</body>
</html>
