<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  
  </configSections>
  <connectionStrings>
    <!--<add name="SmallBeliefEntities" connectionString="metadata=res://*/SmallBelief.csdl|res://*/SmallBelief.ssdl|res://*/SmallBelief.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SmallBelief;persist security info=True;user id=sa;password=sasa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SmallBeliefConn" connectionString="data source=.;initial catalog=SmallBelief;persist security info=True;user id=sa;password=sasa;" providerName="System.Data.SqlClient"/>-->
    <add name="SmallBeliefEntities" connectionString="metadata=res://*/SmallBelief.csdl|res://*/SmallBelief.ssdl|res://*/SmallBelief.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=121.40.189.36;initial catalog=SmallBelief;persist security info=True;user id=SB;password=2wsx@WSX;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SmallBeliefConn" connectionString="data source=121.40.189.36;initial catalog=SmallBelief;persist security info=True;user id=SB;password=2wsx@WSX;" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!-- 测试服务器 存储空间连接地址信息-->
    <add key="Bucket" value="buyf"/>
    <add key="Domain" value="http://7xj3q7.com1.z0.glb.clouddn.com/"/>

    <!--测试服务器 七牛密钥-->
    <add key="ACCESS_KEY" value="-doCLGXiyfvdlOKMi3V5KNbv8HBbSx9eBrqQmhTH"/>
    <add key="SECRET_KEY" value="RM7BStcVQ-r9nJZSwWLUdSDypCK12CYG41zKZkXY"/>

    <!--MSM-->
    <add key="SMSAppKey" value="23421611"/>
    <add key="SMSAppSecret" value="79810acdbd2ef20d4bd983e12d7effb6"/>
    <add key="SMSSignName" value="浙理宅货"/>


    <!--支付宝配置-->
    <add key="ALIPay_URL" value="https://mapi.alipay.com/gateway.do?"/>
    <add key="ALIPay_NotifyURL" value="http://api.zhelizhaihuo.com/api/pay/VerifyNotify"/>
    <add key="ALIPay_ErrorURL" value=""/>
    
    <add key="ALI_PARTER" value="2088421505962844"/>
    <add key="ALI_KEY" value="c4qeb50dgxpmek9cm7b5k6ue2z2om7fy"/>
    <add key="ALI_ACCOUNT" value=""/>
    <add key="ALI_SELLERID" value="2088421505962844"/>
    
    <add key="ALI_SELLEREMAIL" value=""/>
    <add key="ALI_HTTPS_VERYFY_URL" value="https://mapi.alipay.com/gateway.do?service=notify_verify"/>
    <add key="ALIPay_WAP_SERVICE" value="alipay.wap.create.direct.pay.by.user"/>
    <add key="ALIPay_WEB_SERVICE" value="create_direct_pay_by_user"/>
    <add key="ALIPay_MOBILE_SERVICE" value="mobile.securitypay.pay"/>
    <!--我的私钥-->
    <add key="ALIPay_RSA_PRIVATEKEY" value="MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAKt1tD8lq/+azwlxc6xfc0XPkEI3B8v1qW4PiiwY0X1AtH8Fu1+Y9aAXYjVcbe6p5rdEc0s42rave+qus+Dh2NuYzvdELOUuuzQi+Auhb2/k9aD5w6RmH/FvFX6+Bid8fEfnpYcWV6r9zZNRKfaA+U2/xXY9vnF7Pu5OhjC8cPJTAgMBAAECgYB0XVfNG4YV3TzxzbuRmt4i3PGs3qg99iXc+lLuBpH2jblyE7PM94SL+BLA4FADj+9zJdORk65sGcDhz1tpHh4MHpfDAV7HByGbL43ktNK4BCLM6xu3ly3Qs3tIykMvDnRdwCFbbfLUykUyRFhihu1hr9KvDtTbGNUXH36GFdsh0QJBANoUzoQBvH4SlbEKpceYcXWPZCXeT2PqUNRIKW2r8yaU2SwBonf0zMmFn+FKjVo/rWrOn20/sofIBtcYiTzIUKUCQQDJRbCofbc8MfJvtgEB+6oBnH7wDIBDUiQ9lWXzSJiW8j2QuDxuUzJkP67GUaHn7nK6ibIBCe33CxzOephtnQ2XAkEAnznV1tgVsc8L8GmfxO1u2bDKJEP+nyrzvSq65NJJBABl2BWRdBgOdYzUwP9X2W7oxTT7fh6l0TGgnOfTO8fd6QJAIMf699ZR67nu1Ib+LwaAL/b/LbW7hjtwr58PlcozIBKgOFvpa8adJHrCyoYtKotJoFwg485sNZpXvMF25hN4TQJAODhrHqwSLURrjymbhtYdtoTZfIheXpNe+EMPRFrM0f8ZtVrBMGXJ9AmL8rN1GoFdZtcSeiasZaMb9qTPHyUsvA=="/>
    <!--我的公钥-->
    <add key="ALIPay_RSA_PUBLICKEY" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDd+t+xzs4byCocmMxA8EfgdEViZ/vzjxnkdAGLBWibOtaoL9H0D/aBxvVtSWXfbvIL+O158W60GJlJEte5PMGZgKjxaRNI7yN5CAHsHq0/4m8EsVpI3lWWwqrZMUw2FG0Z8HS4/NQXTxgjzZEQnd7o7wseUCW2xf1T2qCRufnjiQIDAQAB"/>
    <!--支付宝公钥-->
    <add key="ALIPay_RSA_ALI_PUBLICKEY" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>     
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
