
@{
    ViewBag.Title = "CouponList";
    Layout = "~/Views/_Layout.cshtml";
}

<!--head-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">优惠券列表</h1>
    </div>
</div>

<!--content-->
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("CouponList", "Coupon", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label class="sr-only">keywords</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="关键字" value="@ViewBag.Keywords" maxlength="20">
            </div>
            <button class="btn btn-default">搜索</button>

            <a href="javascript:" class="btn btn-info pull-right" id="btnAdd">增加优惠券</a>
        }
        <hr />
        <div class="dataTable_wrapper">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>编号</th>
                    <th>优惠券名称</th>
                    <th>优惠券类型</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>优惠券001</td>
                    <td>即时使用</td>
                    <td>2015-15-16</td>
                    <td>
                        <a href="#">修改</a>
                        <a href="#">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

